@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Epilogue", sans-serif;
}

body {
  overflow-x: hidden;
}

/* Header */
img:not(.logo) {
  display: block;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.button {
  width: 182px;
  height: 48px;
  background: none;
  border: 1px solid #172339;
  border-radius: 6px;
  font-size: 14px;
  color: #172339;
  font-weight: bold;
  cursor: pointer;
}
.button:hover {
  transition: background 0.3s ease-in-out;
  background: #172339;
  color: #ffffff;
}
/* Header Ends */

/* Main */
main {
  padding-block-end: 246px;
}
.intro {
  padding-block-start: 56px;
  padding-inline-start: 1em;
  padding-block-end: 56px;
}
.intro-heading {
  font-size: 38px;
  color: #172339;
  font-weight: normal;
  line-height: 44px;
  padding-block-end: 43px;
}
.intro-heading .solution {
  position: relative;
}
.curved-line {
  position: absolute;
  width: 151.47px;
  height: 19px;
  top: -65%;
  right: 0%;
}
.intro-text {
  line-height: 24px;
  letter-spacing: 0.09px;
  font-size: 16px;
  color: #172339;
  padding-block-end: 42px;
}
.main-button {
  width: 256px;
  height: 61px;
  background: #172339;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
.main-button:hover {
  background: linear-gradient(135deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
  transition: background 0.3s ease-in-out;
}
.hero-image {
  width: 90vw;
  margin: 0 auto;
  padding-block-end: 56px;
}
.hero-image img {
  width: 100%;
  height: auto;
}
.ratings {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.ratings h4 {
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
}
.ratings h4:nth-child(2) {
  margin: 32px 0;
}
.ratings span {
  font-weight: normal;
  font-size: 16px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  line-height: 26px;
}
/* Main Ends */

/* Section */
section {
  min-height: 748px;
  background-color: #172339;
  border-radius: 15px;
  position: relative;
  color: #ffffff;
}
.image-container {
  position: absolute;
  width: 100%;
}
.image-container .jeremy {
  position: relative;
  margin-top: -181px;
  margin-inline: auto;
  z-index: 1;
}
.image-container .blur {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  max-width: 70%;
}
.image-container .line-2 {
  position: absolute;
  transform: translate(-50%, 100%);
  left: 50%;
  top: 100%;
  height: 41px;
  z-index: 1;
}
.section-info {
  width: 90vw;
  margin: auto;
  padding-block-start: 338px;
  text-align: center;
}
.heading {
  padding-block-end: 40px;
}
.heading-text {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.42px;
  font-weight: normal;
}
.text {
  font-size: 18px;
  letter-spacing: 0.09px;
  line-height: 32px;
}
.name {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: -0.18px;
  margin-top: 51px;
}
.company {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 2.5px;
  line-height: 26px;
}
/* Section Ends */

/* Footer */
footer {
  background-color: #f3ede7;
  margin-top: -10px;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}
.copyright {
  font-size: 15px;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 0.08px;
  color: #172339;
}
.social-icons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
/* Footer Ends */
